hr{
    color: black;
}
.hobby{
    width: 30%;
    height: 10%;
}
table{
    width: 100%;
}
img{
    width: 100%;
    height: 100%;
}
body{

    font-size: 1.3rem;
}
.scadule_box{
    width: 12%;
}
.under{
    width: 12%;
    border-bottom: 0;
}
.all{
    width: 12%;
    border-bottom: 0;
    border-top: 0;
}


.up{
    width: 12%;
    border-top: 0;
}